 <!-- <div class="vehicle-details-container">
    <h2>VEHICLE DETAILS</h2>
    <form>
      <div class="form-group">
        <label for="Date of Purchase">Date of Purchase:</label>
        <input type="text"  name="Date of Purchase" [(ngModel)]="Date of Purchase">
      </div>
      <div class="form-group">
        <label for="Brand">Brand:</label>
        <input type="text"  name="Brand" [(ngModel)]="Brand" >
      </div>
      <div class="form-group">
        <label for="ModelName">ModelName:</label>
        <input type="text" name="ModelName" [(ngModel)]="ModelName">
      </div>
      <div class="form-group">
        <label for="Variant">Variant:</label>
        <input type="text" name="Variant" [(ngModel)]="Variant">
      </div>
      <div class="form-group">
        <label for="BodyType">BodyType:</label>
        <input type="text" name="BodyType" [(ngModel)]="BodyType">
      </div>
      <div class="form-group">
        <label for="FuelType">FuelType:</label>
        <input type="text" name="FuelType" [(ngModel)]="FuelType">
      </div>
      <div class="form-group">
        <label for="Registration Number">Registration Number:</label>
        <input type="text" name="Registration Number" [(ngModel)]="Registration Number">
      </div>
      <div class="form-group">
        <label for="Chasis Number">Chasis Number:</label>
        <input type="text" name="Chasis Number" [(ngModel)]="Chasis Number">
      </div>
      <div class="form-group">
        <label for="Engine Number">Engine Number</label>
        <input type="text" name="Engine Number" [(ngModel)]="Engine Number">
      </div>
      <div class="form-group">
        <label for="Year of Manufacture">Year of Manufacture</label>
        <input type="text" name="Year of Manufacture" [(ngModel)]="Year of Manufacture">
      </div>
      <div class="form-group">
        <label for="IDV">IDV</label>
        <input type="text" name="IDV" [(ngModel)]="IDV">
      </div>
      <div class="form-group">
        <label for="ExShowroomPrice">ExShowroomPrice</label>
        <input type="text" name="ExShowroomPrice" [(ngModel)]="ExShowroomPrice">
      </div> -->
