<!-- <div class="policy-holder-container">
    <h2>POLICY HOLDER DETAILS</h2>
    <form>
      <div class="form-group">
        <label for="FirstName">FirstName:</label>
        <input type="text"  name="FirstName" [(ngModel)]="contact.FirstName">
      </div>
      <div class="form-group">
        <label for="LastName">Full Name:</label>
        <input type="text"  name="LastName" [(ngModel)]="contact.LastName" >
      </div>
      <div class="form-group">
        <label for="Address 1">Address 1:</label>
        <input type="text" name="Address 1" [(ngModel)]="contact.Address 1">
      </div>
      <div class="form-group">
        <label for="Address 2">Address 2:</label>
        <input type="text" name="Address 2" [(ngModel)]="contact.Address 2">
      </div>
      <div class="form-group">
        <label for="City">City:</label>
        <input type="text" name="City" [(ngModel)]="contact.City">
      </div>
      <div class="form-group">
        <label for="State">State:</label>
        <input type="text" name="State" [(ngModel)]="contact.State">
      </div>
      <div class="form-group">
        <label for="Pincode">Pincode:</label>
        <input type="text" name="Pincode" [(ngModel)]="contact.Pincode">
      </div>
      <div class="form-group">
        <label for="Mobile no">Mobile no:</label>
        <input type="number" name="Mobile no" [(ngModel)]="contact.Mobile no">
      </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" name="Email" [(ngModel)]="contact.Email">
      </div>
     
     <p>divisiojm

 -->
<p>hello there<p>
  