<!-- <div class="policy-details-container">
    <h2>POLICY HOLDER DETAILS</h2>
    <form>
      <div class="form-group">
        <label for="Policy Number">"Policy Number:</label>
        <input type="text"  name="Policy Number" [(ngModel)]="policy.Policy Number">
      </div>
      <div class="form-group">
        <label for="Policy Effective Date">Policy Effective Date:</label>
        <input type="text"  name="Policy Effective Date" [(ngModel)]="policy.Policy Effective Date" >
      </div>
      <div class="form-group">
        <label for="Policy Expiration Date">Policy Expiration Date:</label>
        <input type="text" name="Policy Expiration Date" [(ngModel)]="policy.Policy Expiration Date">
      </div>
      <div class="form-group">
        <label for="Status">Status:</label>
        <input type="text" name="Status" [(ngModel)]="policy.Status">
      </div>
      <div class="form-group">
        <label for="Total premium">Total premium:</label>
        <input type="number" name="Total premium" [(ngModel)]="policy.Total premium">
      </div>
      <div class="form-group">
        <label for="Payplan">Payplan:</label>
        <input type="text" name="State" [(ngModel)]="policy.Payplan">
      </div>
      <div class="form-group">
        <label for="Pincode">Pincode:</label>
        <input type="text" name="Pincode" [(ngModel)]="contact.Pincode">
      </div>
       -->
